#logo{
    background-color: RGB(78, 160, 255);
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}

#img_logo{
    padding-top:50px;
    width: 15%;
}

#images{
    word-wrap: break-word;
    margin-bottom: 20px;
}

#Lorem{
    margin-top: 25px;
    margin-bottom: 25px;
}

.blue{
    color:RGB(50, 176, 230);
}

#titolo{
    margin: 0px;
}

.yellow{
    background-color: yellow;
}

ul{
    padding: 10px;
}

p{
    margin: 0px;
}



table{
    width: 100%;
    border-spacing: 0px;
}

#thead{
    background-color: RGB(32, 169, 229);
    color: RGB(206, 235, 249);
}
.th{
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.colonna_uno{
    padding: 25px 0px;
    text-align: left;
}
.colonna_due{
    padding: 0px 25px;
    text-align: center;
}
.colonna_tre{
    padding: 0px 25px;
    text-align: left;
}

.riga_a{
    background-color: RGB(177, 229, 242);
}

#riga_b{
    background-color: RGB(255, 255, 255);
}

h3{
    color: RGB(157, 157, 157);
}

#container{
    margin: 0% 46% 0% 0%;
}

#consigliati_1{
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 10px;
    color: aliceblue;
}
#consigliati_2{
    position: absolute;
    z-index: 2;
    margin-top: 220px;
    margin-left: 10px;
    color:beige;
}
#img_consigliati_1{
    position: absolute;
    z-index: 1;
}
#img_consigliati_2{
    position: absolute;
    z-index: 1;
    margin-top: 208px;
}
