p{  /*comprime i paragrafi verso le immagini*/
    margin: 0px;
}

ul{ /* avvicina i puntini al lato sinistro della pagina*/
    padding: 10px;
}

table{ /* varie specifiche per la tabella */
    width: 100%;
    border-spacing: 0px;
}

h3{ /* colora i sottotitoli nella zona degli articoli consigliati */
    color: RGB(157, 157, 157);
}

#container{ /* serve a comprimere gran parte del contenuto e renderlo grande tanto quanto le immagini */
    margin: 0% 46% 0% 0%;
}

#logo{ /* Inserisce l'immagine che si ripete e un colore di sfondo */
    background-color: RGB(78, 160, 255);
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}

#img_logo{ /* ridimensiona il logo e lo sposta in basso a sinistra */
    padding-top:50px;
    width: 15%;
}

#images{ /* distanzia il testo dal paragrafo con i titoli delle foto */
    margin-bottom: 20px;
}

#titolo{ /* schiaccia il titolotra il logo e le foto */
    margin: 0px;
}

#blue{ /* colora il nome del giornalista di blu */
    color:RGB(50, 176, 230);
}

#thead{ /* mimando il tag thead divide le altre righe, colora di bianco le scritte e di blu lo sfondo della riga */
    background-color: RGB(32, 169, 229);
    color: RGB(206, 235, 249);
}

#td_uno{ /* sistema e alline il testo in base a quale colonna è */
    padding: 0px 25px 0px 0px;
    text-align: left;
}

#td_due{ /* sistema e alline il testo in base a quale colonna è */
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

#td_tre{ /* sistema e alline il testo in base a quale colonna è */
    padding-left: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
}

#riga_b{ /* colora lo sfondo della riga di bianco */
    background-color: RGB(255, 255, 255);
}

#consigliati_1{ /* serve per spostare il titolo sopra l'immagine e di colorarlo di bianco */
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 10px;
    color: aliceblue;
}

#img_consigliati_1{ /* sposta l'immagine su un livello più basso rispetto al titolo */
    position: absolute;
    z-index: 1;
}

#consigliati_2{ /* serve per spostare il titolo sopra l'immagine e di colorarlo di bianco */
    position: absolute;
    z-index: 2;
    margin-top: 220px;
    margin-left: 10px;
    color:beige;
}

#img_consigliati_2{ /* sposta l'immagine su un livello più basso rispetto al titolo */
    position: absolute;
    z-index: 1;
    margin-top: 208px;
}

.lorem{ /* sposta il paragrafo rispetto agli altri elementi */
    margin-top: 25px;
    margin-bottom: 25px;
}

.yellow{ /* colora le sezioni specifiche */
    background-color: yellow;
}

.colonna_uno{ /* sistema e alline il testo in base a quale colonna è */
    padding: 25px 0px;
    text-align: left;
}
.colonna_due{ /* sistema e alline il testo in base a quale colonna è */
    padding: 0px 25px;
    text-align: center;
}
.colonna_tre{ /* sistema e alline il testo in base a quale colonna è */
    padding: 0px 25px;
    text-align: left;
}

.riga_a{ /* Colora lo sfondo della riga */
    background-color: RGB(177, 229, 242);
}